<%= render partial: "layouts/nav", locals: {category: Category.find(@project.category_id)}  %>
<div class="container">
  <% if current_user %>
    <%= link_to "Edit Project", edit_category_project_path, class: "btn btn-primary" %>
    <%= link_to "Delete Project", category_project_path,
      method: :delete,
      data: { confirm: 'Kill the fuck out of this project, Ayesha?' },
      class: "btn btn-primary" %>
    <%= link_to "Add Image", "/categories/#{@project.category_id}/projects/#{@project.id}/pics/new", class: "btn btn-primary" %>
  <% end %>
</div>
<section class="container m-t-3">
  <div class="row">
    <%= image_tag @project.main_image_path.url(:medium), class: "col-sm-4 img-fluid" %>
    <div class="project-description col-sm-6">
      <h1><%= @project.title.upcase %></h1>
      <h3><%= @project.sales_pitch %></h3>
      <hr>
      <p class="lead"><%= @project.description %></p>
    </div>
  </div>
</section>
<section class="container m-t-3">
  <% @project.pics.each do |pic| %>
    <div class="col-sm-6 m-t-2 bw pic">
      <%= link_to image_tag(pic.pic_path.url(:large), alt: pic.title, class: "img-fluid" ), "/categories/#{@project.category_id}/projects/#{@project.id}/pics/#{pic.id}" %>
      <h3 class="category-title"><%= pic.title %></h3>
    </div>
  <% end %>
</section>
