<%= render partial: "layouts/nav", locals: {category: Category.find(@project.category_id)}  %>
<h1><%= @project.title %></h1>
<p class="lead"><%= @project.sales_pitch %></p>
<section class="col-sm-4">
  <p><%= @project.description %></p>
</section>
<% @project.images.each do |image| %>
  <div class="col-sm-6">
    <%= link_to image_tag(image.image_path, alt: image.title, class: "img-fluid"), image %>
  </div>
<% end %>