<%= render partial: "layouts/nav", locals: {category: @category}  %>
<% if current_user %>
  <div class="container">
    <%= link_to "Add #{@category.name.capitalize} Project", new_category_project_path(@category), class: "btn btn-primary" %>
    <%= link_to "Edit #{@category.name.capitalize}", edit_category_path, class: "btn btn-primary" %>
    <%= link_to "Delete #{@category.name.capitalize}", category_path,
      method: :delete,
      data: { confirm: 'Kill the fuck out of this project category, Ayesha?' },
      class: "btn btn-primary" %>
  </div>
<% end %>
<section class="container">
  <% if @category.name == 'about' %>
    <%= render partial: "categories/about", locals: {category: @category} %>
  <% else %>
    <div class="col-lg-6 col-lg-offset-3 m-b-3 m-t-3">
      <h1><%= @category.name.upcase %></h1>
      <p class="lead description"><%= @category.description %></p>
    </div>
</section>
<section class="container">
    <% @category.projects.each do |project| %>
      <div class="col-sm-3 m-b-2 blur bw pic">
        <%= link_to image_tag(project.main_image_path.url(:medium),  alt: project.title, class: "img-fluid"), category_project_path(@category.id, project) %>
        <h3 class="category-title"><%= project.title %></h3>
      </div>
    <% end %>
  <% end %>
</section>