<!DOCTYPE html>
<html>
<head>
  <title>Ayesha Agha</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="jumbotron">
    <%= link_to root_path, class: "logo" do %>
      <h1 class="display-1">AYESHA AGHA</h1>
      <hr>
    <% end %>
    <p class="lead">My site is better than Samuel S. Powers'</p>
    <ul class="nav">
      <%if current_user %>
        <li><h5>Hey Sexy</h5></li>
        <li class='nbtn'><a href="/users/show">My Profile</a></li>
        <li class='nbtn'><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
      <%else%>
        <li class='nbtn'><a href="/users/sign_in">Login</a></li>
      <% end %>
    </ul>
    <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
