<!DOCTYPE html>
<html>
<head>
  <title>AyeshaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="jumbotron">
    <h1 class="display-1">AYESHA AGHA</h1>
    <hr>
    <p class="lead">My site is better than Samuel S. Powers'</p>
  </section>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
